*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos login */

.bodylogin {
    background-color: rgb(62, 61, 61);
}

#mainlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    height: 100vh;
}

.formlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    font-size: larger;
    background-color: rgb(132, 35, 35);
    border-radius: 15%;
}

.logologin {
    border-radius: 100%;
    height: 200px
}

.formlogin input {
    font-size: large;
}

.btn {
    background-color: rgb(62, 61, 61);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px;
    width: 100px;
}

/* estilos registro */

#mainregistro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/download\ \(2\)\ -\ Copy.jpg);
    height: 100%;
}

.formregistro{
    padding: 100px;
    background-color: #722718;
    border-radius: 50px;
    border-color: #3f170f;
    border-width: 5px;
    border-style: double;
    padding: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

.divregistro {
    margin-bottom: 40px;
    font-size:xx-large;
    align-items: center;
    justify-content: center;

}

.registro{
    background-color: #927975;
    padding: 10px;
    font-size: xx-large;
}

.log_en_register{
   font-size: 20px;
   color: black;

}

/* estilos product */

#bodyproduct {
    background-color: rgb(62, 61, 61);
}

#album{
    width: 50px;
    height: auto;
}


/* estilos search */



/* estilos index */
.logoheader{
    height: 120px;
    border-radius: 100%;
    align-self: center;
    margin-left: 10px;
   margin-top: 10px;
    
  
}

.header{
    background-color: #722718;
    display: flex;
    flex-direction: row;
    height: 150px;
    border-color: black;
    border-style: double;
    border-width: 15px;
    justify-content: space-between;
    
}

.navindex{
flex-direction: row;
display: flex;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 900;
justify-content:space-between;
align-items: center;
padding: 5px;
color: black;
list-style-type: none;


}

.loginheader{
    margin-right: 20px;
}

.mainindex{
    display: flex;
    flex-direction: row;
    
}

.tituloindex{
    text-align: center;
}

.productosindex{
    display: flex;
    border-color: black;
    border-width: 5px;
    border-style:ridge ;
    width: 50%;
    flex-direction: column;
}

.viniloindex{
    display: flex;
    justify-content: flex-end;
    width: 300px;
}



/* estilos  */