.bodylogin {
    background-color: rgb(195, 229, 246);
}

.formlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20%;
    font-size: larger;
    background-color: rgb(195, 229, 246);
}

.formlogin input {
    font-size: large;
}

#mainregistro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.divregistro{
    margin-bottom: 40px;
    font-size:x-large;
    
}